<header>
   <nav>
      <a href="/">Acomer</a>
      <ul>
         <li><a href="/restaurants">Restaurants</a></li>
         <li><a href="/restaurants/new">Add restaurant</a></li>
      </ul>
   </nav>
</header>