<%- include('../partials/header_login.ejs')%>
<div class="container">
   <h1 class="">Sign up</h1>

   <form action="/register" method="POST" id="">

      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" name="name" placeholder="Username" required autofocus>
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" name="email" placeholder="Email" required>
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
      <button type="submit" class="btn btn-primary form-control">Sign up</button>
      <a href="/login">Login</a>

   </form>
</div>